/* 

  x0x0x0 colors

*/

:root {
  --empty-states: white;
  --accent: #a3aee3;
  --dark-accent: #663979;
  --line-width: 2px;
}

/* 

  Background gradients and decorative shapes used for background parallax effect (lines, squares, stars, pluses, circles)

*/

html {
  background-image:
      linear-gradient( 270deg, var(--dark-accent), var(--accent) ),
      linear-gradient( 270deg, var(--dark-accent), var(--accent) ),
      linear-gradient( 270deg, var(--dark-accent), var(--accent) ),
      linear-gradient( 270deg, var(--dark-accent), var(--accent) ),
      linear-gradient( 270deg, var(--dark-accent), var(--accent) );

    background-size:
      86% 20em,
      25% 20em,
      30% 20em,
      70% 25em,
      70% 25em;

    background-position:
      6em 15em,
      95% 20em,
      95% 55em,
      20em 38em,
      10em 20em;

    background-repeat: no-repeat;

    height: 300vh;
}

.accent {
  background-color: var(--accent) !important;
}

.accent::after {
  background-color: var(--accent) !important;
}

.accent-border {
  border-color: var(--accent) !important;
}

.line {
  background-color: var(--empty-states);
  border-radius: var(--line-width);
  width: var(--line-width);
}

.line-1 {
  height: 140px;
}

.line-2 {
  height: 80px;
}

.line-3 {
  height: 225px;
}

.line-4 {
  height: 325px;
}

.line-5 {
  height: 1000px;
}

.line-6 {
  height: 240px;
}

.line-7 {
  height: 500px;
}

.line-8 {
  height: 200px;
}

.line-9 {
  height: 300px;
}

.line-10 {
  height: 300px;
}

.line-11 {
  height: 600px;
}

.circle {
  border-radius: 50%;
  border: var(--line-width) solid var(--empty-states);
  height: 6px;
  width: 6px;
}

.square {
  border-right: var(--line-width) solid var(--empty-states);
  border-top: var(--line-width) solid var(--empty-states);
  border-bottom: var(--line-width) solid var(--empty-states);
  height: 7px;
  width: 8px;
  transform: rotate(45deg);
}

.plus {
  background-color: var(--empty-states);
  border-radius: var(--line-width);
  height: var(--line-width);
  width: 15px;
}

.plus::after {
  display: block;
  content: '';
  height: 15px;
  background-color: var(--empty-states);
  position: relative;
  left: 44%;
  top: -300%;
  width: var(--line-width);;
}


/* 

  General, global typography/padding

*/

body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  font-style: italic;
}

#notify {
  white-space: pre;
  background-color: rgba(100, 240, 100, 0.93);
  position: fixed;
  left: 0;
  top: -50px;
  z-index: 3;
  width: 96vw;
  padding: 1.1vw 2vw;
  font-size: 1.4rem;
  line-height: 1.6rem;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#notify.active {
  opacity: 1;
  top: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#notify.error {
  background-color: rgba(240, 10, 100, 0.93);
}

form {
  width: 100vw;
  text-align: center;
}

form > input[type="text"] {
  padding: 5px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  width: 80vw;
  margin: 5px 15px;
}

form button {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #111;
}

button {
  background-color: rgba(10, 255, 225, 0.9);
  padding: 5px 20px;
  width: 200px;
  border: 5px solid #f0f000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h2, h3 {
  margin: 8px 0 10px 0;
}

h3 {
  white-space: nowrap;
  color: #222;
}

header {
  display: flex;
  padding: 3.5em;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  flex: 0 1 auto;
  justify-content: center;
  align-self: center;
  padding: 0.55em 1em 0 0;
}

@media (max-width: 600px) {
  .logo {
    flex: 0 1 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 1em;
  }
}

nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  nav {
    flex: 0 1 100%;
    padding-right: 0;
    padding-top: 1em;
    justify-content: space-around;
  }
}

header h2, .network-wrapper, .share-wrapper, form {
  color: black;
  font-weight: normal;
  font-size: 1.2em;
}

header h2.active, .feed-wrapper li, .saved-wrapper li {
  color: black;
}

header h2 {
  text-align: center;
  padding: 0.5em 0;
  margin: 0 0.75em;
  flex: 0 1 auto;
  cursor: pointer;
}

#tab-share {
  border-radius: 10em;
  border: var(--line-width) solid black;
  justify-content: left;
  padding: 0.75em 1em;
  transition: all 0.15s ease-in;
}

#tab-share:hover {
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  #tab-share {
    flex: 0 1 100%;
    text-align: center;
  }
}

header h2.active::after {
  background-color: black;
  content: '';
  display: block;
  height: var(--line-width);
  margin-top: var(--line-width);
  width: 100%;
}

p.note {
  margin: 4px 20px;
}

#wrapper > .trio {
  display: none;
}

#wrapper > .trio.active {
  display: block;
}

.trio {
  overflow: hidden;
}

.trio * {
  text-overflow: ellipsis;
  overflow: hidden;
}

.network-wrapper, .share-wrapper {
  width: 100vw;
  margin-top: 5px;
}

.trio > h2 {
  margin-left: 20px;
  padding: 5px 0;
  line-height: 2rem;
}

p.note {
  margin: 10px 0;
}

li {
  margin: 5px 0;
  padding: 0;
  position: relative;
}

li a:hover {
  background-color: #f0f;
  color: #111;
}

li .object-wrapper {
  max-width: 85vw;
}

li a {
  background-color: #222;
  display: block;
  padding: 10px 50px 10px 15px;
  font-size: 1.5rem;
  color: #f0f;
}

li.notice {
  background-color: transparent;
  color: white;
  display: none;
  font-size: 1em;
  line-height: 3rem;
  margin-top: 10em;
  padding: 20px;
  text-align: center;
}

li.notice #tab-share {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 1em;
  font-style: normal;
  padding: 0;
  text-decoration: underline;
}

li p.description {
  padding: 10px 15px;
  background-color: #222;
  font-size: 1.5rem;
  color: #eee;
}

li.notice.active {
  display: block;
}

#network li {
  border-top: var(--line-width) solid #fff;
  padding: 10px 20px;
}

.deleted {
  display: none;
}

#network button, #saved li button {
  background-color: rgba(250, 10, 220, 0.9);
}

li button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 0;
  border: 0;
  width: 58px;
}

li button:hover {
  background-color: rgba(115, 200, 245, 0.8);
}

li button.saved {
  background-color: rgba(235, 100, 255, 0.4);
}

li h3 {
  margin-right: 20px;
  max-width: 80vw;
}

@media (max-width: 600px) {

  li p.description {
    font-size: 1.3rem;
  }

  li a {
    font-size: 1.3rem;
  }

  li .object-wrapper {
    max-width: 100vw;
  }

  .saved-wrapper, .feed-wrapper {
    width: 98vw;
  }

  h3 {
    width: 73vw;
    font-size: 1.3rem;
  }

  li p, li div a {
    font-size: 1.2rem;
  }

  li.notice {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
